<div class=" card text-center" *ngFor="let user of users">
    <div class="card-header">
      User {{user.id}} Information
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: {{user.name}} </h5>
      <p class="card-text">UserName: {{user.username}}</p>
      <p class="card-text">Email: {{user.email}}</p>
  
    </div>
    <div class="card-footer text-muted">
      <p class="card-text">Website: <a href="http://{{user.website}}" target="_blank">{{user.website}}</a></p>
    </div>
  </div>